#step-item{
    width: min-content;
    height: 100px;
    .step{
        background: #EEEEEE;
        width: 128px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 0;

        .step-label{
            text-align: center;
            height: 50%;
            align-items: center;
            font-size: 14px;
            font-weight: 300;

            @media(max-width: 1199px) {
                width: 90%;
            }
        }


        .step-number{
            border: 2px solid #BBDEFB;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color:#177FDB;
        }

        @media(max-width: 1199px) {
            flex-direction: row;
        }
    }

    &:hover {
        .step-label{
            font-weight: bold;
            font-size: 14px;
        }
        .outside-border-hover{
            width: 30px;
            height: 30px;
            background: #177FDB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        .step-number{
            color:white;
            background: #177FDB;
            border-color: #177FDB;
        }

        .hr-left{
            border: 2px solid #177FDB;
        }
        .hr-right{
            border: 2px solid #177FDB;
        }

    }

    .hr-left{
        border: 2px solid #BBDEFB;
        position: relative;
        width: 39%;
        float: left;
        margin: 0 0 0 0;
        top: 30px;
        @media(max-width: 1199px) {
            transform: rotate(90deg);
            right: 5px;
            top: 20px;
        }
    }
    .hr-right{
        border: 2px solid #BBDEFB;
        position: relative;
        width: 39%;
        float: right;
        margin: 0 0 0 0;
        bottom: 84px;
        @media(max-width: 1199px) {
            float: left;
            bottom: 20px;
            right: 5px;
            transform: rotate(90deg)
        }
    }
}